<div class="logo">
</div>
<ul nz-menu style="overflow-y: auto;height: 100vh !important;" [nzTheme]="'dark'" [nzMode]="'inline'"
    [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let t of notes | async | search:searchTextObs">
        <li nz-menu-item (click)="onMenuItemClick(t)" [nzSelected]="t.id===id">
            <div class="nav-text">
                <div class="nav-head">{{t.note_text}}</div>
                <div class="nav-foot">{{t.timestamp | date:'dd/MM/yyyy hh:mm a'}}</div>
            </div>
        </li>
    </ng-container>
</ul>
