.ant-menu,.ant-menu-inline,.ant-menu-item{
  height: 44px !important;
  line-height: unset !important;
}
.nav-text{
  font-weight: bold;
  width: 93% !important;
  overflow: hidden;
}
.nav-text-light{
  font-weight: normal !important;
  width: 93% !important;
  overflow: hidden;
}
.nav-head{
  line-height: unset !important;
}
.nav-foot{
  font-size: 12px;
  line-height: unset !important;
  font-weight: normal !important;
}
