.text-container {
  text-align: center;
  width: 100%;
  color: darkgrey;
}

textarea {
  height: calc(100vh - 232px);
  width: 100%;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}
